<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>智能房源系统</title>
</head>
<body>

<h1> 欢迎使用智能房源搜索系统！</h1>

<form method="post" action="/login">

    <label>
        请输入用户名：<input type="text" name="username"> <br>
        请输入登录密码：<input type="password" name="password"> <br>
        <input type="submit" value="登录">
    </label>

</form>
<form action="/goRegister">
    <label>
        还未拥有账号?注册一个吧！
        <input type="submit" value="注册">
    </label>
</form>



</body>
</html>